version: "3"
services:
  kafka-0:
    image: bitnami/kafka:latest
    ports:
      - "9094:9094"
    environment:
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka-0:9093,1@kafka-1:9093,2@kafka-2:9093
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka-0:9092,EXTERNAL://localhost:9094
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      - KAFKA_KRAFT_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
    volumes:
      - kafka_0_data:/bitnami/kafka

  kafka-1:
    image: bitnami/kafka:latest
    ports:
      - "9095:9095"
    environment:
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka-0:9093,1@kafka-1:9093,2@kafka-2:9093
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9095
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka-1:9092,EXTERNAL://localhost:9095
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      - KAFKA_KRAFT_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
    volumes:
      - kafka_1_data:/bitnami/kafka

  kafka-2:
    image: bitnami/kafka:latest
    ports:
      - "9096:9096"
    environment:
      - KAFKA_CFG_NODE_ID=2
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka-0:9093,1@kafka-1:9093,2@kafka-2:9093
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9096
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka-2:9092,EXTERNAL://localhost:9096
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      - KAFKA_KRAFT_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
    volumes:
      - kafka_2_data:/bitnami/kafka

  redis-1:
    image: redis:latest
    container_name: redis-1
    ports:
      - "6379:6379"
      - "16379:16379"
    volumes:
      - redis_1_data:/data
    command: redis-server --port 6379 --cluster-enabled yes --cluster-config-file nodes.conf --cluster-node-timeout 5000 --appendonly yes --appendfsync no --cluster-announce-ip 127.0.0.1 --cluster-announce-port 6379 --cluster-announce-bus-port 16379

  redis-2:
    image: redis:latest
    container_name: redis-2
    ports:
      - "6380:6380"
      - "16380:16380"
    volumes:
      - redis_2_data:/data
    command: redis-server --port 6380 --cluster-enabled yes --cluster-config-file nodes.conf --cluster-node-timeout 5000 --appendonly yes --appendfsync no --cluster-announce-ip 127.0.0.1 --cluster-announce-port 6380 --cluster-announce-bus-port 16380

  redis-3:
    image: redis:latest
    container_name: redis-3
    ports:
      - "6381:6381"
      - "16381:16381"
    volumes:
      - redis_3_data:/data
    command: redis-server --port 6381 --cluster-enabled yes --cluster-config-file nodes.conf --cluster-node-timeout 5000 --appendonly yes --appendfsync no --cluster-announce-ip 127.0.0.1 --cluster-announce-port 6381 --cluster-announce-bus-port 16381

  redis-4:
    image: redis:latest
    container_name: redis-4
    ports:
      - "6382:6382"
      - "16382:16382"
    volumes:
      - redis_4_data:/data
    command: redis-server --port 6382 --cluster-enabled yes --cluster-config-file nodes.conf --cluster-node-timeout 5000 --appendonly yes --appendfsync no --cluster-announce-ip 127.0.0.1 --cluster-announce-port 6382 --cluster-announce-bus-port 16382

  redis-5:
    image: redis:latest
    container_name: redis-5
    ports:
      - "6383:6383"
      - "16383:16383"
    volumes:
      - redis_5_data:/data
    command: redis-server --port 6383 --cluster-enabled yes --cluster-config-file nodes.conf --cluster-node-timeout 5000 --appendonly yes --appendfsync no --cluster-announce-ip 127.0.0.1 --cluster-announce-port 6383 --cluster-announce-bus-port 16383

  redis-6:
    image: redis:latest
    container_name: redis-6
    ports:
      - "6384:6384"
      - "16384:16384"
    volumes:
      - redis_6_data:/data
    command: redis-server --port 6384 --cluster-enabled yes --cluster-config-file nodes.conf --cluster-node-timeout 5000 --appendonly yes --appendfsync no --cluster-announce-ip 127.0.0.1 --cluster-announce-port 6384 --cluster-announce-bus-port 16384

  redis-cluster-init:
    image: redis:latest
    depends_on:
      - redis-1
      - redis-2
      - redis-3
      - redis-4
      - redis-5
      - redis-6
    command: >
      bash -c "sleep 5 &&
      redis-cli --cluster create 
      host.docker.internal:6379 
      host.docker.internal:6380 
      host.docker.internal:6381 
      host.docker.internal:6382 
      host.docker.internal:6383 
      host.docker.internal:6384 
      --cluster-replicas 1 --cluster-yes"
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  kafka_0_data:
  kafka_1_data:
  kafka_2_data:
  redis_1_data:
  redis_2_data:
  redis_3_data:
  redis_4_data:
  redis_5_data:
  redis_6_data:
